

<h2 style="text-align: center; color: white;">Be Creative..</h2>
<div class="card-category-2" style="background-color: white;" >

  <%= render 'form' %>

</div>
<div class="link">
 <p> <%= link_to "Back to homepage", root_path, style: "text-decoration: none; color: white;" %></p>
</div>
